* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.body{
    font-family: 'Courier New', monospace;
}

.container {
    width: 80%;
    margin: 0 auto;
    font-family: 'Courier New', monospace;
}

.item {
    width: -moz-fit-content;
    width: fit-content;
    padding: 30px;
    margin-bottom: 1em;
}

p {
    font-size: 15px;
}

nav {
    height: 70px;
    background: #34495e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: "Monsterrat", sans-serif;
}

label.logo {
    font-size: 27px;
    font-weight: bold;
    color: white;
    padding: 0 100px;
    line-height: 80px;
}

nav ul{
    float: left;
    margin-left: 40px;
    justify-content: space-around;
    display: flex;
    width: 30%;
}

nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

nav a{
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

a.active, a:hover{
    border: 1px solid white;
    transition: .5s;
}

nav #icon {
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

@media (max-width:1048px) {
   label.logo {
       font-size: 30px;
       padding-left: 60px
   } 
    nav ul {
        margin-right: 20px;
    }
    nav a {
        font-size: 17px;
    }
}

@media (max-width: 909px) {
    nav #icon {
        display: block;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2f3640;
        top: 80px;
        left: -100%;
        transition: all .5s;
        text-align: center;
    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a{
        font-size: 20px;
    }
    a.active, a:hover {
        border: none;
        color: black;
    }
    nav ul.show{
        left: 0;
    }
}

.gallery-grid {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1.5rem;
    justify-items: center;
    margin: 0;
    padding: 0;
}

.gallery-frame {
    font-size: 1.2rem;
    text-align: center;
    background-color: #333;
    color: #d9d9d9;
}

.gallery-img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    transition: opacity 0.25s ease-in-out;
}

/*repeat(auto-fit, minmax(250px, 3fr))*/

#toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: medium;
    margin: auto;
    padding: 30px;
    width: auto;
}

.toc_title {
    font-weight: 700;
    text-align: center;
    font-size: large;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}

img {
    display: block;
    margin: auto;
}