* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: monsterrat;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.item {
    width: -moz-fit-content;
    width: fit-content;
    padding: 5px;
    margin-bottom: 1em;
}

p {
    font-size: 15px;
}

nav {
    height: 70px;
    background: #34495e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: "Monsterrat", sans-serif;
}

label.logo {
    font-size: 27px;
    font-weight: bold;
    color: white;
    padding: 0 100px;
    line-height: 80px;
}

nav ul{
    float: left;
    margin-left: 40px;
    justify-content: space-around;
    display: flex;
    width: 30%;
}

nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

nav a{
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

a.active, a:hover{
    border: 1px solid white;
    transition: .5s;
}

nav #icon {
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

@media (max-width:1048px) {
   label.logo {
       font-size: 30px;
       padding-left: 60px
   } 
    nav ul {
        margin-right: 20px;
    }
    nav a {
        font-size: 17px;
    }
}

@media (max-width: 909px) {
    nav #icon {
        display: block;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2f3640;
        top: 80px;
        left: -100%;
        transition: all .5s;
        text-align: center;
    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a{
        font-size: 20px;
    }
    a.active, a:hover {
        border: none;
        color: black;
    }
    nav ul.show{
        left: 0;
    }
}

/*https://www.courtinnovation.org/sites/default/files/media/document/2019/Bail_Reform_NY_Summary.pdf*/
/*https://www.courtinnovation.org/sites/default/files/media/documents/2021-02/Handout_Bail_Reform_Crime_02032021.pdf */
/* https://www.courtinnovation.org/sites/default/files/media/document/2020/FactSheet_CCI_Bail_Reform_Revisited_05272020.pdf*/